.divider {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.colOne {
  grid-column: 1 / 2;
  border-right: solid;
  border-color: black;
  margin-left: 3%;
  height: 100vh;
}

.playerForm {
  margin-top: 10%;
  margin-bottom: 3%;
}

.colTwo {
  grid-column: 2 / 3;
  margin-left: 3%;
  height: 100vh;
}

.playerDataContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: solid;
  border-color: black;
  margin: 10% 3% 3% 3%;
}

.playerData {
  grid-column: 1 / 2;
  padding: 3%;
}

.playerPhoto {
  grid-column: 2 / 3;
  padding: 3%;
}

.roster {
  margin-top: 3%;
}

.legend {
  margin-top: 3%;
  max-width: fit-content;
  max-height: fit-content;
}