.header {
  background-color: #013369;
  top: 0;
  height: 3%;
  font-weight: 500;
  font-size: larger;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 47%);
  display: block;
  height: 48px;
  margin: 0;
  color: white;
  padding: 8px 42px 8px 8px;
}

body {
  background-color: #eee;
  margin: 0;
}

.divider {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.colOne {
  grid-column: 1 / 2;
  border-right: solid;
  border-color: black;
  margin-left: 3%;
  height: 100vh;
  max-width: 625px;
}

.playerForm {
  margin-top: 10%;
  margin-bottom: 3%;
}

.colTwo {
  grid-column: 2 / 3;
  margin-left: 3%;
  height: 100vh;
  max-width: 625px;
}

.playerDataContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: solid;
  border-color: black;
  margin: 10% 3% 3% 3%;
  background-color: white;
}

.playerData {
  grid-column: 1 / 2;
  padding: 3%;
}

.playerPhoto {
  grid-column: 2 / 3;
  padding: 3%;
  position: relative;
  max-height: 100px;
  width: auto;
}

.roster {
  margin-top: 3%;
  border: solid;
  color: white;
  padding: 2%;
}

.removePlayerBtn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.legend {
  margin-top: 3%;
  max-width: fit-content;
  max-height: fit-content;
  color: white;
  padding: 2%;
}

.footer {
  background-color: #013369;
}